.container {
  background-color: white;
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.achievementCard {
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 12px;
  transition: transform 0.3s ease;
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  transform: translateY(80px);
  animation: transform1 linear forwards;
  animation-timeline: view();
  animation-range: contain;
}

.achievementCard:nth-child(2) {
  transform: translateY(-80px);
  animation: transform2 linear forwards;
  animation-timeline: view();
  animation-range: contain;
}

.achievementCard:nth-child(3) {
  transform: translateY(80px);
  animation: transform3 linear forwards;
  animation-timeline: view();
  animation-range: contain;
}

@keyframes transform1 {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}

@keyframes transform2 {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px);
  }
}

@keyframes transform3 {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}

.achievementCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.number, .label {
  position: relative;
  z-index: 2;
}

.number {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 1.2rem;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

@media (max-width: 578px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
  }

  .achievementCard {
    width: 100%;
    height: 100%;
    opacity: .8;
    transform: perspective(1200px) rotateX(40deg);
    animation: perspectives linear forwards;
    animation-timeline: view(y);
    animation-range: entry;
  }

  .achievementCard:nth-child(2) {
    transform: perspective(1200px) rotateX(40deg);
    animation: perspectives linear forwards;
    animation-timeline: view(y);
    animation-range: entry;
  } 

  .achievementCard:nth-child(3) {
    transform: perspective(1200px) rotateX(40deg);
    animation: perspectives linear forwards;
    animation-timeline: view(y);
    animation-range: entry;
  }

  @keyframes perspectives {
    to {
      opacity: 1;
      transform: perspective(1200px) rotateX(0deg);
    }
  }
}