.services {
  padding: 4rem 2rem;
  background: white;
  position: relative;
  z-index: 5;
}


.headerSection {
  text-align: center;
  margin-bottom: 2rem;
}

.servicesContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 3vw, 2rem);
}

.serviceCard {
  height: auto;
  border-radius: 20px;
  background: linear-gradient(140deg, #1a4f9d, #002051);
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  scale: .6;
  opacity: 0;
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    scale: 1;
  }
}

.serviceCard:hover {
  transform: translateY(-5px);
}
.cardContent {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cardContent.reverse {
  flex-direction: row-reverse;
}

.textContent {
  flex: 1;
  padding: 2rem;
  color: white;
}

.textContent h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  margin-bottom: clamp(.5rem, 2vw, 1rem);
  line-height: 1.5;
}
.textContent p {
    font-size: clamp(.88rem, 2vw, 1.1rem);
    line-height: 1.5;
    letter-spacing: .5px;
    margin-bottom: clamp(.4rem, 2vw, 1rem);
}

.imageContent {
  flex: 1;
  padding: 40px;
}

.imageContent img {
  object-fit: cover;
  border-radius: 16px;
  
}

.bulletPoints {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  letter-spacing: .5px;
}

.bulletPoints li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: clamp(.4rem, 2vw, .8rem);
}

.checkmark {
  min-width: clamp(10px, 2vw, 16px);
  color: #4CAF50; /* Or any color you prefer */
}

.bulletPoints li span {
  color: #fff;
  font-size: clamp(.88rem, 2vw, 1.1rem);
} 

@media (max-width: 768px) {
  .services {
    padding: 2rem 1rem;
  }
  
  .serviceCard {
    height: auto;
    border-radius: 12px;
  }
  .imageContent img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  
  .overlay {
    padding: 1.5rem;
  }
  
  .overlay h3 {
    font-size: 1.5rem;
  }
  .cardContent {
    flex-direction: column !important;
    gap: 0px;
  }
  .textContent {
    padding: 0rem 1rem 1rem 1rem;
    order: 2;
  }
  .imageContent {
    padding: 1rem;
    height: 200px;
    order: 1;
  }
} 


