.aboutSection {
    padding: 4rem 1rem;
    background-color: #f8f9fa;
    position: relative;
    z-index: 2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contentWrapper {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    align-items: center;
  }
  
  .textContent {
    flex: 1;
  }
  
  .textContent h2 {
    margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
    /* color: var(--black); */
  }

  /* .textContent span {
    color: hsla(0, 0%, 0%, 0.4);
    background-clip: text;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, var(--primary-color), var(--primary-color));
    background-size: 0% 100%;
    animation: scroll-shine linear forwards;
    animation-timeline: view();

  } */

  /* .textContent h2 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
  } */
  .textContent .aboutText1 span {
    animation-range-start: cover 22.5vh;
    animation-range-end: cover 42vh;
  }

  .textContent .aboutText2 span {
    animation-range-start: cover 26vh;
    animation-range-end: cover 67vh;
  }

  .textContent .aboutText3 span {
    animation-range-start: cover 47vh;
    animation-range-end: cover 80vh;
  }

  @keyframes scroll-shine {
    to {
      background-size: 100% 100%;
    }
  }

  .textContent p {
    font-size: clamp(.88rem, 3vw, 1.25rem);
    line-height: 1.6;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .highlights {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
  }
  
  .highlights li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .iframeContainer {
    flex: 1;
    aspect-ratio: 16/9;
    min-height: 315px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Mobile Responsive Design */
  @media (max-width: 768px) {
    .contentWrapper {
      flex-direction: column;
    }
  
    .textContent {
      text-align: center;
    }
  
    .highlights {
      display: inline-block;
      text-align: left;
    }
  
    .iframeContainer {
      width: 100%;
      min-height: 200px;
    }
    .aboutSection {
      padding: 3rem 1rem
    }
    .textContent h2 {
      text-align: left;
    } 
    .textContent p {
      text-align: left;
    }
  }
  
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutText1, .aboutText2 {
  opacity: 0;
}

.aboutText1.show {
  animation: slideUp 1s ease forwards;
  animation-timeline: view(y);
  animation-range-start: cover 22.5vh;
  animation-range-end: cover 42vh;
}

.aboutText2.show {
  animation: slideUp 1s ease forwards;
  animation-delay: 0.2s;
  animation-timeline: view(y);
  animation-range-start: cover 26vh;
  animation-range-end: cover 67vh;
}
  